:root {
    color-scheme: light;
    padding: 2rem;
}

html {
    font-size: 14px;
}

body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

button {
    display: block;
    margin: 0 auto;
    padding: 12px;

    font-size: inherit;

    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;

    cursor: pointer;
    transition: background 0.2s, border-color 0.2s;

    min-width: 100px;
}

button:hover {
    background: whitesmoke;
}

button,
input,
select,
textarea {
    font: inherit;
}
