.adFilter {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.adFilter__input,
.adFilter__select {
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.adFilter__input {
    min-width: 300px;
}

.adFilter__input:focus,
.adFilter__select:focus {
    border-color: black;
    outline: none;
}